{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" />

    {% block head %} 
    {% endblock head %}

</head>

<body>
    <div class="container-fluid">
        <div class="navbar">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'userCart' %}">Cart</a>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>